body{
  background-image: url("../gambar/Stupa_Borobudur.jpg");
  background-size: cover;
}

div {
 width: 685px;
 height: 500px;
 border: 2px solid red;
 margin: 0 auto;
 background-image: url("../gambar/avocado.jpg");
}
.justify{
 text-align: justify;
 color: blue;
 background-repeat: repeat;
}
.repeat{
 background-repeat: repeat-x;
}
